version: 1.8.{build}
image: Visual Studio 2015
init:
- ps: >-
    git config --global core.autocrlf true

    iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
environment:
  PATH: C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
before_build:
- cmd: nuget restore VSDiagnostics/VSDiagnostics.sln
build:
  verbosity: normal
notifications:
- provider: Webhook
  url: http://stats.zomis.net:8081/hooks/appveyor?roomId=14929
  headers:
    X-Duga-Event: duga42
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true
on_finish:
- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))